html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Fira Code', sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

h1 {
  font-size: 4.625em;
  margin: 0 0 8px 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: 300;
}

hr {
  margin: 0;
  padding: 0;
}

#content {
  position: absolute;
  bottom: 0;
}

.subtitle {
  font-size: 1em;
  font-weight: 100;
  margin: 0 0 24px 0;
  padding: 0;
}
